.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

body{
    margin: 2rem;
    background-image: url("../images/GrayBack.jpeg");
}

.Title {
    text-align: center;
    color: rgba(255, 183, 0, 0.977);
    font-size: 500%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}